* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  max-width: 800px;
  padding: 40px;
}

li {
  list-style-type: none;
}

input,
button {
  font-size: 32px;
}

#root {
  width: 100%;
}

main {
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
